*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

/* HOME */

/* aplicando grid al body */

.bodyGrid{
    background-image: url(../imagen/imagen-portada-transparente.png);
    width: 100%;
    height: 100%; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "headerGrid"
                        "mainGrid"
                        "footerGrid";
          
}


.headerGrid{    
    grid-area: headerGrid; 
    z-index: 3;    
    background-image: radial-gradient(circle,rgb(150, 70, 82),pink);
     
}

.mainGrid{
       grid-area: mainGrid;
    
   
}

.footerGrid{
    grid-area: footerGrid;

}

/* tipografia del titulo */
.tipografiaTitulo{
    font-family: 'Abril Fatface', cursive;
    color: black; 
   }

/* tipografia del subtitulo */
.tipografiaSubtitulo{
    font-family: 'Roboto', sans-serif;
    color: black;
   
}


/* EDICION DEL MENU DE NAVEGACION */
.navbar-nav .nav-link.active {
    color:white;
     
} 

.navbar-nav .nav-link:hover{
    font-size: large;
    
}

.nav-item.active{
    text-decoration: underline;
} 


/* edicion del logo */
.logo1,
.logo2{
    margin: 1rem;
    padding: 0;
    width: 40%;
  
    animation: animacion-logo 10s  ease-in-out 0s infinite normal;
   
}

@keyframes animacion-logo{
    0%{
        transform:scale(.5) ;
    }
    25%{
        transform:scale(1) ;
    }
    50%{
        transform:scale(.5) ;
    }
    75%{
        transform:scale(1) ;
    }
    100%{
        transform:scale(.5) ;
    }

} 

/* MAIN */

main{
        padding: 2%;
    
} 

/* tipografia del titulo del main */
.tituloDelParrafo{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    text-decoration-line: underline;
    color: brown;
    
}

/* tipografia de los articulos del main */
article{
    font-family: 'Roboto', sans-serif;
    color:  rgb(68, 32, 7);
    font-style: italic;
    font-size:x-large;
    text-align: justify; 

}


/* edicion de los titulos de los articulos en las paginas */
article h2{
    margin: 2%;
}


article h3{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    color: brown;
    text-align: center;
    padding: 2rem;
    text-decoration: underline;

}
article h4{
    margin: 2%;
    padding: 2%;
    text-decoration: underline;

}


/* tipografia realizacion de traslados */
.traslados{

    font-size: x-large;
    color: white;
    text-align: center;

    background-color: black;
    padding: 2%;
    margin: 2%; 
}



/* imagenes dentro del main del index */
.imagenPerroBano{
    float: right;
    border-style: double;
    width: 25rem;
    margin-top: 7rem; 
    margin-right: 2rem; 
    margin-left: 2rem; 
}

.imagenGato{
    border-style: double;
    width: 21rem;
    margin:2rem;
    
} 

.imagenPerro{
    border-style: double;
    width: 24rem;
    margin:2rem;
    
}

.imgNuestroEquipo{
    border-style: double;
    margin-top: 2rem;
    margin-left: 2rem; 
    margin-bottom: 3rem;
   
}



/* PAGINA NOSOTROS */
/* edicion foto de Cristina y de Isabela */

.cristina,
.isabela{
    margin: 2%;
    border-style: double;
    
}
.cristina:hover,
.isabela:hover{
    transform: scale(.9,.9);
   
}

/* PAGINA SERVICIOS */
/* edicion listado de servicios */

.servicios{
    background-color:lightpink;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: underline; 
    font-size: large;
    padding-bottom: 1%;
    padding-top: 1%;
    
}

.navServicios{
    background-color: rgb(59, 55, 55);
   
}

.navServicios  a{
    display: inline-block;  
    text-decoration: none;

    color:white ;
    
    padding: 2px;
    margin: .5rem;  
} 

.navServicios  a:hover{
    text-decoration: underline;
   
}




/* edicion ir al inicio de pagina */
.irInicioPagina {
    background-color: rgb(228, 203, 203); 
    display: inline-block;   
    font-size: x-large;
    margin-top: 5 rem;
   
 }


/* PAGINA GALERIA */
/* edicion de galeria de imagenes con Grid */

.galleryContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  
    padding: 2%; 
    margin-bottom: 5%;
    grid-gap: 2%;
    
}

.galleryImg{
    width: 100%;
    height: 100%; 
    object-fit: cover;   
    
    
}
.galleryImg:hover{
    width: 125%;
    height: 125%;
    transform: scale(1); 
   
}


/* PAGINA CONTACTO */
/* edicion formulario de contacto */
form div {
    margin: 2%;
}

fieldset{
    margin: 2%;
}



/* footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(181, 172, 172);
    z-index: 2;
    text-align: center;
    margin-top: 2%;
    padding-bottom: 2%;

}

/* edicion de informacion de la empresa */
footer div h3{
    margin: 1%;
    text-decoration: underline;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;

}

footer div h4{
    margin: 1%;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;

}

.enlacesRedes{
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 1%;

}

/* boton de Whatsapp, Facebook e Instagram */
.btnWhatsapp,
.btnFacebook,
.btnInstagram{

    bottom: 1%;
    left: 1%;
    width: 8%;
    padding: 2%;

}

/* -------------------------------------------------------------- */
/* RESPONSIVE  */
/* RESPONSIVE PARA MAX 1024PX */

 @media (max-width:1024px){
   
    .logo1{
      
        margin-left: 20%;

    }
    .logo2{
        display: none;
    }
  


/* responsive para galeria */
    .galleryContainer{
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 2%;
    }

    

/* responsive para index */

    .traslados{

        width: 50%;
        align-items:center;
        margin-left: 25%;
        
    }

    .imagenPerroBano{
        margin-top: 10%;
        max-width: 50%;
        margin-right: 0%; 
        justify-content: center;
        align-items: center;
        margin-left: 25%;
        float: none; 

    }
    .imagenGato{
      
        max-width: 60%;
      
        justify-content: center;
        justify-items: center;
        margin-bottom: 0%;
        margin-left: 25%;
        }
        
    .imagenPerro{
        
        max-width: 60%;
        justify-content: center;
        justify-items: center;
        margin-bottom: 0%;
        margin-left: 30%;
        
    }
    
    .imgNuestroEquipo{
        
        margin-left: 25%;
              
    } 
    

 }   

/* RESPONSIVE PARA MAX 768PX */

@media  (max-width:768px){

    .logo1{
        width:50% ;
        margin-left: 20%;

    }
    .logo2{
        display: none;
    }
  

/* responsive para galeria */
    .galleryContainer{
        grid-template-columns: 1fr 1fr;
        margin-top: 2%;
        margin-bottom:25%;
    }

    

/* responsive para index */

    .traslados{

        width: 50%;
        align-items:center;
        margin-left: 25%;
        
    }

    .imagenPerroBano{
        margin-top: 10%;
        max-width: 50%;
          
        margin-left: 25%;
       
        float: none; 

    }
    .imagenGato{
      
        max-width: 60%;
        margin-top: 3%;
        margin-bottom: 0%;
        margin-left: 25%;
    }
        
    .imagenPerro{
        max-width: 60%;
        margin-top: 2%;
    
        margin-bottom: 0%;
        margin-left: 25%;
        
    }
    
    .imgNuestroEquipo{
      
        margin-left: 15%;
        max-width: 70%;
    }
    .btnWhatsapp,
    .btnFacebook,
    .btnInstagram{

    width: 10%;
    }
}


/* RESPONSIVE PARA MAX 480PX  */
@media (max-width:480px){

    .logo1{
        
        margin-left: 20%;

    }
    .logo2{
        display: none;
    }

  

/* responsive para galeria */
    .galleryContainer{
        grid-template-columns: 1fr 1fr;
        margin-bottom:25%;
        
    }
   

/* responsive para index */

  
    .traslados{

        max-width: 60%;
        align-items: center;
        margin-left: 25%;
       
        
        
    }
    .imagenPerroBano{
        margin-top: 10%;
        max-width: 50%;
        margin-top: 3%;
        margin-right: 0%; 
      
        justify-content: center;
        align-items: center;
        
        float: none; 

    }
    .imagenGato{
      
        max-width: 60%;
        margin-top: 2%;
        margin-bottom: 0%;
        margin-left: 5rem;
    }
        
    .imagenPerro{
        
        max-width: 60%;
        justify-content: center;
        justify-items: center;
        margin-top: 2%;
        margin-bottom: 0%;
        margin-left: 5rem;
        
    }
    
    .imgNuestroEquipo{
    
       margin-left: 3rem;
       padding-left: 0%; 
       max-width: 80%;
          
    }
    
    .btnWhatsapp,
    .btnFacebook,
    .btnInstagram{

    width: 12%;
    }
   

}
