*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

/* HOME */

/* aplicando grid al body */

.bodyGrid{
    background-image: url(../imagen/imagen-portada-transparente.png);
    width: 100%;
    height: 100%; 
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "headerGrid"
                        "mainGrid"
                        "footerGrid";
          
}


.headerGrid{    
    grid-area: headerGrid; 
    z-index: 3;    
    background-image: radial-gradient(circle,rgb(150, 70, 82),pink);
     
}

.mainGrid{
    grid-area: mainGrid;
    
   
}

.footerGrid{
    grid-area: footerGrid;

}

/* tipografia del titulo */
.tipografiaTitulo{
    font-family: 'Abril Fatface', cursive;
    color: black; 
   }

/* tipografia del subtitulo */
.tipografiaSubtitulo{
    font-family: 'Roboto', sans-serif;
    color: black;
   
}


/* EDICION DEL MENU DE NAVEGACION */
.navbar-nav .nav-link.active {
    color:white;
     
}  

.navbar-nav .nav-link:hover{
    font-size: large;
    
}

.nav-item.active{
    text-decoration: underline;
} 


/* edicion del logo */
.logo1,
.logo2{
    margin: 1rem;
    padding: 0;
    width: 40%;
    animation: animacion-logo 10s  ease-in-out 0s infinite normal;
   
}

@keyframes animacion-logo{
    0%{
        transform:scale(.5) ;
    }
    25%{
        transform:scale(1) ;
    }
    50%{
        transform:scale(.5) ;
    }
    75%{
        transform:scale(1) ;
    }
    100%{
        transform:scale(.5) ;
    }

} 

/* MAIN */

main{
        padding: 2%;
    
} 

/* tipografia del titulo del main index */
.tituloDelParrafo{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    text-decoration-line: underline;
    color: brown; 
    
}

/* tipografia de los articulos del main index */
article{
    font-family: 'Roboto', sans-serif;
    color:  rgb(68, 32, 7);
    font-style: italic;
    font-size:x-large;
    text-align: justify; 

}


/* edicion de los titulos de los articulos en las paginas */
article h2{
    margin: 2%;
}


article h3{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    color: brown;
    text-align: center;
    padding: 2rem;
    text-decoration: underline;

}
article h4{
    margin: 1%;
    padding: 1%;
    text-decoration: underline;

}


/* tipografia realizacion de traslados */
.traslados{
    font-size: x-large;
    color: white;
    text-align: center; 
    background-color: black;
    padding: 2%;
    margin: 2%; 
}



/* imagenes dentro del main del index */
.imagenPerroBano{
    float: right;
    border-style: double;
    width: 25rem;
    margin-top: 7rem; 
    margin-right: 2rem; 
    margin-left: 2rem; 
}

.imagenGato{
    border-style: double;
    width: 21rem;
    margin:2rem; 
    
} 

.imagenPerro{
    border-style: double;
    width: 24rem;
    margin:2rem; 
    
}

.imgNuestroEquipo{
    border-style: double;
    margin-bottom: 3rem; 
   
}



/* PAGINA NOSOTROS */
/* edicion foto de Cristina y de Isabela */

.cristina,
.isabela{
    margin: 2%;
    border-style: double;
    
}
.cristina:hover,
.isabela:hover{
    transform: scale(.9,.9);
   
}

/* PAGINA SERVICIOS */
/* edicion listado de servicios */

.servicios{
    background-color:lightpink;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: underline; 
    font-size: large;
    padding-bottom: 1%;
    padding-top: 1%;
    
}

.navServicios{
    background-color: rgb(59, 55, 55);
   
}

.navServicios  a{
    color:white ;
    padding: 2px;
    margin: .5rem;  
} 

.navServicios  a:hover{
    text-decoration: underline;
   
}

/* edicion ir al inicio de pagina */
.irInicioPagina {
    background-color: rgb(228, 203, 203); 
    display: inline-block;   
    font-size: x-large;
    margin-top: 5 rem;
   
 }


/* PAGINA GALERIA */
/* edicion de galeria de imagenes con Grid */

.galleryContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 2%; 
    margin-bottom: 5%;
    grid-gap: 2%;
    
}

.galleryImg{
    width: 100%;
    height: 100%; 
    object-fit: cover;   
    
    
}
.galleryImg:hover{
    width: 125%;
    height: 125%;
    transform: scale(1); 
   
}


/* PAGINA CONTACTO */
/* edicion formulario de contacto */
.form div {
    margin: 2%;
} 


/* footer */
footer {
    z-index: 2;
    text-align: center; 
}


/* EDICION FOOTER boton de Whatsapp, Facebook e Instagram */
.btnWhatsapp,
.btnFacebook,
.btnInstagram{

    bottom: 1%;
    left: 1%; 
    width: 8%;
    padding: 2%;  

} 


/* RESPONSIVE  */

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
   
 }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }


/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .logo1{
        animation: none;

    }
    .logo2{
        display: none;
    } 

    .galleryContainer{
        grid-template-columns: 1fr 1fr 1fr;
      
    }
    .imagenPerroBano{
        float: none;
        margin-top: 5%;
        margin-bottom: 5%;
          
     }
}


/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .logo1{
        animation: none;

    }
    .logo2{
        display: none;
    } 

    .galleryContainer{
        grid-template-columns: 1fr 1fr 1fr;
       
    }

    .imagenPerroBano{
       float: none;
       margin-top: 5%;
       margin-bottom: 5%;
         
    }
 }

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .logo1{
       display: none;

    }
    .logo2{
        display: none;
    } 

    .galleryContainer{
        grid-template-columns: 1fr 1fr;
       
    }
    .imagenPerroBano{
        margin-top: 5%;
        margin-bottom: 5%;
         
    }

    .imgNuestroEquipo{
    
        margin-left: 0%;
        padding-left: 0%; 
        max-width: 90%;
       
           
     }
 }






